﻿

@using (Html.BeginForm())
{

    <fieldset>

        <legend>Multi-Select Id</legend>

        <div class="editor-field">

            @Html.ListBox("Id", ViewBag.Id as MultiSelectList, "style=\"height: 300px; width: 60px;\"")

        </div>

        <p>

            <input type="submit" value="View" multiple/>

        </p>

    </fieldset>

}

@if (ViewBag.YouSelected != null)
{

    <div> You Selected:  @ViewBag.YouSelected</div>
   <hr/><br/>

    <table class="table-bordered table-hover MainTable" id="carsTable">
        @foreach (var item in ViewBag.WorkingHours)
        {
            <tr class="row">
                <td class="col-sm-2">@item.Key</td>
                <td class="col-sm-10">@item.Value</td>

            </tr>
        }
    </table>
}
